body{
    display: flex;
    text-align: center;
    justify-content: center;
}

#fejleszto{
    border-radius: 2px;
    padding-top: 50px;
    color: white;
    margin-top: 75px;
    background-color: #7aa3dd;
    padding-bottom: 100px;
    width: 70%;
    border: 1px solid #2E63AF;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.2);
}

p{
    font-size: larger;
    text-shadow: 20px 20px 20px rgba(0,0,0,0.2);;
}

iframe{
    width: 100%;
    min-width: 200px;
    max-width: 800px;
    box-shadow: 20px 20px 20px rgba(0,0,0,0.2);
}

h1{
    text-shadow: 20px 20px 20px rgba(0,0,0,0.2);;
}

h2{
    text-shadow: 20px 20px 20px rgba(0,0,0,0.2);;
}