body{
    background-color: aliceblue;
    background-image: url(../img/hatter.png);
    background-attachment: fixed;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav{
    width: 99%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    background-color: #2E63AF;
    margin-right: 10px;
    height: auto;
    flex-wrap: wrap;
    padding: 0px 20px;
    justify-content: space-between;
    align-items: center;
}

#logo{
    display: flex;
    padding-left: 10px;
    padding-right: 15px;
    padding-bottom: 0;
}

#logo-text{
    margin-left: 10px;
    font-size: xx-large;
    color: white;
    font-weight: bold;
    margin-right: 0;
    padding-bottom: 0;
}

#logo:hover{
    background-color: rgba(0, 0, 0, 0.233); 
}

#linkek{
    margin-right: 10px;
    text-align: right;
    text-decoration: none;
    display: flex;
    height: auto;
    flex-wrap: wrap
}

.link{
    text-align: center;
    padding: 20px 8px;
    text-decoration: none;
    margin: 0;
    font-size: large;
    color: white;
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    white-space: nowrap;
}

.link:hover{
    background-color: rgba(0, 0, 0, 0.233);
}

@media screen and (max-width: 1000px) {
    #logo{
        text-align: center;
        justify-content: center;

    }

    nav{
        text-align: center;
        justify-content: center;
    }

    #linkek {
        justify-content: center;  
        text-align: center;
    }

    .link{
        margin-left: 0;
        padding: 0;
        margin: 10px;
    }
}

footer{
    display: flex;
    color: whitesmoke;
    background-color: #2E63AF;
    position: fixed;
    bottom:0;
    width: 100%;
    left: 0;
    justify-content: space-between;
    align-items: center;

    p{
        font-size: 0.7em;
        margin: 0;
        padding: 0;

        margin-left: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}